{% extends "layout.html" %}
{% block style %}

body {
  background: #222;
  font-family: sans-serif;
  font-style: italic;
}

{% endblock %}
{% block body %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <!--<script src="../body.js"></script>-->


  <script>
  // Density Constant (can be removed to have differing desnity objects)
  //var D = Math.pow(10,28);
  var D = 1;

  // name: string,
  // mass: int
  // pos: array of 2 ints
  // vel: array of 2 ints
  // color: rgb color
  var Body = function(name, mass, pos, vel, color){
    radius = mass/D;
    return {'name': name, 'mass': mass, 'radius': radius, 'pos': pos, 'vel': vel, 'color' : color};
  }

  var spacetime = d3.select('body');
  var width = 960,
      height = 500,
      radius = Math.min(width, height);

  // The gravitational constant G
  var G = 6.67428*Math.pow(10,-11);

  // Assumed scale: 100 pixels = 1AU.
  var AU = (149.6*Math.pow(10,6) * 1000);
  var SCALE = 250 / AU;

  //var sunBody = new Body('sun',(1.98892 * Math.pow(10,30)),[0,0],[0,0])
  //var earthBody = new Body('earth',(5.9742 * Math.pow(10,24)),[0,0],[0,0])

  var sunBody = new Body('sun',100,[0,0],[0,0],'rgba(255, 204, 0, 1.0)')
  var earthBody = new Body('earth',10,[200,0],[0,0], 'rgba(113, 170, 255, 1.0)')

  var bodies = [
    sunBody,earthBody
  ]
  console.log(bodies);

  // Space
  var svg = spacetime.append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

  for (var i=0;i<bodies.length;i++){
    svg.append("circle")
      .attr("class",bodies[i].name)
      .attr("r", bodies[i].radius)
      .attr("transform", "translate(" + - bodies[i].pos[0] + "," + - bodies[i].pos[1] + ")")
      .style("fill", bodies[i].color);
  }

  // Update the clock every second
  /*setInterval(function () {

    d3.transition().tween("orbit", function () {
      return function (t) {
        // Animate Earth orbit position
        d3.select(".earthOrbitPosition")
          .attr("d", earthOrbitPosition.endAngle(interpolateEarthOrbitPosition(t)));

        // Transition Earth
        d3.select(".earth")
          .attr("transform", "translate(" + radii.earthOrbit * Math.sin(interpolateEarthOrbitPosition(t) - earthOrbitPosition.startAngle()()) + "," + -radii.earthOrbit * Math.cos(interpolateEarthOrbitPosition(t) - earthOrbitPosition.startAngle()()) + ")");

        };
    });
  }, 1000);*/

{% endblock %}
